@media only screen and (max-width: 800px) {
    .container{
        max-width: 35em;
    }

    .award-text h1 {
        font-size: 1.5em;
    }

    .under-title{
        font-size: 1.3em;
    }

    .sub-title{
        font-size: 1em;
    }

    .award{
        flex-direction: column;
        align-items: start;
    }

    .award-img{
        margin-top: 2em;
        flex-direction: row;
        column-gap: 2em;
        align-items: center;
    }

    .promotions{
        flex-direction: column;
        row-gap: 2em;
        margin-top: 2em;
    }

    .promotion-item{
        margin: 0 6em;
    }

    .promotion-image{
        width: 300px;
        min-width: 300px;
        margin-top: -200px;
    }

    .discount-container{
        height: 7em;
        width: 7em;
        margin-left: -120px;
        margin-top: -50px;
    }

    .discount-container h2{
        font-size: 2.5em;
    }

    .discount-container p{
        font-size: 0.8em;
    }

    .promotion-os {
        min-height: 3em;
    }

    .VPN-features img{
        height: 4.3em;
    }

    .quotes{
        border-radius: 0.5em;
        max-width: 40em;
    }

    .editors {
        flex-direction: row;
        column-gap: 2em;
    }

    .editors-item img {
        height: 4em;
    }

    .editors-item span {
        height: 2em;
    }

    .editors-quote{
        font-size: 0.8em;
    }

    .editors-name{
        font-size: 0.7em;
    }

    footer{
        background-image: url("vectors/footer-sm.jpg");
    }
}

@media only screen and (max-width: 450px) {
    /*.container{*/
    /*    max-width: 35em;*/
    /*}*/

    /*.award-text h1 {*/
    /*    font-size: 1.5em;*/
    /*}*/

    /*.under-title{*/
    /*    font-size: 1.3em;*/
    /*}*/

    /*.sub-title{*/
    /*    font-size: 1em;*/
    /*}*/

    /*.award{*/
    /*    flex-direction: column;*/
    /*    align-items: start;*/
    /*}*/

    /*.award-img{*/
    /*    margin-top: 2em;*/
    /*    flex-direction: row;*/
    /*    column-gap: 2em;*/
    /*    align-items: center;*/
    /*}*/

    /*.promotions{*/
    /*    flex-direction: column;*/
    /*    row-gap: 2em;*/
    /*    margin-top: 2em;*/
    /*}*/

    /*.promotion-item{*/
    /*    margin: 0 6em;*/
    /*}*/

    /*.promotion-image{*/
    /*    width: 300px;*/
    /*    min-width: 300px;*/
    /*    margin-top: -200px;*/
    /*}*/

    /*.discount-container{*/
    /*    height: 7em;*/
    /*    width: 7em;*/
    /*    margin-left: -120px;*/
    /*    margin-top: -50px;*/
    /*}*/

    /*.discount-container h2{*/
    /*    font-size: 2.5em;*/
    /*}*/

    /*.discount-container p{*/
    /*    font-size: 0.8em;*/
    /*}*/

    /*.promotion-os {*/
    /*    min-height: 3em;*/
    /*}*/

    /*.VPN-features img{*/
    /*    height: 4.3em;*/
    /*}*/

    .quotes{
        border-radius: 0;
        max-width: 100%;
    }

    .editors{
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    .editors-item img {
        height: 5em;
    }

    /*.editors-item span {*/
    /*    height: 2em;*/
    /*}*/

    /*.editors-quote{*/
    /*    font-size: 0.8em;*/
    /*}*/

    /*.editors-name{*/
    /*    font-size: 0.7em;*/
    /*}*/

    /*footer{*/
    /*    background-image: url("vectors/footer-sm.jpg");*/
    /*}*/
}

@media only screen and (min-width: 801px) {
    .container{
        max-width: 45em;
    }

    .editors {
        width: 100%;
        flex-direction: row;
        column-gap: 2em;
    }

    .award{
        flex-direction: column;
        align-items: start;
        max-width: 100%;
    }

    .under-title{
        font-size: 1.3em;
    }

    .sub-title{
        font-size: 1em;
    }

    .award-img{
        margin-top: 2em;
        flex-direction: row;
        column-gap: 2em;
        align-items: center;
    }

    .promotion-image {
        width: 180px;
        min-width: 180px;
        margin-top: -100px;
        margin-bottom: 1em;
    }

    .promotions{
        margin-top: -50px;
        flex-direction: row;
        column-gap: 2em;
    }

    .promotion-item{
        width: 100%;
    }

    .promotion-item h2{
        font-size: 1.2em;
    }

    .promotion-os {
        min-height: 4em;
    }

    .discount-container{
        height: 4.5em;
        width: 4.5em;
        margin-left: -90px;
    }

    .discount-container h2{
        font-size: 1.5em;
    }

    .discount-container p{
        font-size: 0.6em;
    }

    .promotion-speed p{
        font-size: 0.8em;
    }

    .VPN-features img{
        height: 3em;
    }

    .VPN-container {
        font-size: 0.7em;
    }

    .quotes{
        border-radius: 0.5em;
        max-width: 48em;
    }

    .editors-item img {
        height: 5em;
    }

    .editors-quote{
        font-size: 0.8em;
    }

    .editors-name{
        font-size: 0.7em;
    }

    footer{
        background-image: url("vectors/footer.jpg");
    }
}

@media only screen and (min-width: 1001px) {
    .container{
        max-width: 60em;
    }

    .award{
        flex-direction: row;
        align-items: end;
    }

    .award-text{
        max-width: 50%;
    }

    .under-title{
        font-size: 1.7em;
    }

    .sub-title{
        font-size: 1.4em;
    }

    .award-img{
        margin-left: 2em;
        flex-direction: column;
    }

    .promotions {
        margin-top: 2em;
    }

    .promotion-image{
        width: 250px;
        min-width: 250px;
        margin-top: -150px;
    }

    .promotion-os {
        min-height: 3em;
    }

    .discount-container{
        height: 5em;
        width: 5em;
        margin-left: -120px;
    }

    .discount-container h2{
        font-size: 2em;
    }

    .discount-container p{
        font-size: 0.7em;
    }

    .promotion-speed p{
        font-size: 0.9em;
    }

    .VPN-container {
        font-size: 0.9em;
    }

    .VPN-features img{
        height: 4.3em;
    }

    .quotes{
        max-width: 63em;
    }

    .editors-quote{
        font-size: 1em;
    }

    .editors-name{
        font-size: 0.8em;
    }

    .editors-item img {
        height: 6em;
    }
}

@media only screen and (min-width: 1200px) {
    .container{
        max-width: 70em;
    }

    .promotion-image{
        width: 300px;
        min-width: 300px;
        margin-top: -150px;
    }

    .discount-container{
        height: 7em;
        width: 7em;
        margin-top: 1.2em;
        margin-left: -120px;
    }

    .discount-container h2{
        font-size: 2.5em;
    }

    .discount-container p{
        font-size: 0.8em;
    }

    .quotes{
        max-width: 73em;
    }
}

body, h1, h2, p{
    margin: 0;
}

header{
    display: flex;
    justify-content: start;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.bit-logo{
    height: 25px;
}

.hero-image{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 540px;
    background: url("vectors/background.jpg") no-repeat center;
}

.award{
    z-index: 2;
    display: flex;
    padding-top: 7vh;
    color: white;
    font-family: "Montserrat Light";
}

.award-text h1{
    font-family: "Montserrat SemiBold";
}

.award-text p{
    margin-top: 1em;
}

.sub-title{
    font-family: "Montserrat SemiBold";
}

.award-img{
    display: flex;
    align-content: center;
}

.award-img img{
    height: 10vh;
    width: auto;
}

.award-quote{
    margin-top: 0.3em;
    font-style: italic;
    font-size: 0.9em;
    font-family: "Montserrat SemiBold";
    text-align: center;
}

.award-quote-source{
    font-size: 0.9em;
    text-align: center;
}

.promotions{
    display: flex;
    align-items: center;
}

.promotion-item{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    margin-top: 12em;
    box-shadow: 0 0 7px dimgray;
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-family: Montserrat;
    text-align: center;
}

.discount-container{
    position: absolute;
    background-color: limegreen;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discount-container h2{
    font-family: "Montserrat SemiBold";
}

.discount-container p{
    font-family: "Montserrat Medium";
}

.promotion-devices{
    color: dimgray;
}

.dotted-hr{
    width: 100%;
    border-width: 0;
    border-top: 1px dashed lightgray;
}

.colored-hr{
    width: 40%;
    height: 2px;
    border-width: 0;
    margin-top: 1em;
}

.promotion-1{
    background-color: red;
}

.promotion-2{
    background-color: darkmagenta;
}

.promotion-3{
    background-color: dodgerblue;
}

.promotion-os{
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.promotion-speed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
}

.promotion-speed img{
    height: 16px;
    width: 16px;
}

.promotion-speed p{
    color: dimgray;
}

.prices-table{
    width: 100%;
    display: grid;
    justify-items: right;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: dimgray;
}

.prices-table p:nth-child(5){
    color: black;
    font-size: 1.5em;
}

.prices-table h2{
    color: black;
    font-size: 1.5em;
}

.savings{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    border-radius: 0.3em;
    color: white;
    font-family: "Montserrat SemiBold";
    min-width: 3em;
    max-height: 1.5em;
}

.tax{
    width: 100%;
    text-align: right;
    color: dimgray;
    font-size: 0.7em;
    margin-bottom: 1em;
}

.buy{
    margin-top: 1em;
    background-color: red;
    border-radius: 0.5em;
    border-width: 0;
    color: white;
    font-family: "Montserrat SemiBold";
    width: 100%;
    height: 3.5em;
}

.ToS{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ToS-text{
    color: dimgray;
    font-size: 0.7em;
    text-align: center;
}

.ToS-text a{
    text-decoration: none;
}

.VPN-container{
    background-color: #eeeeee;
    border-radius: 0.5em;
    border-width: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VPN-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*Custom checkbox*/
.checkmark {
    margin: 0.5em;
    min-height: 16px;
    min-width: 16px;
    background-color: white;
    border-radius: 100px;
    background-image: url("vectors/radio-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.VPN-container input:checked ~ .checkmark{
    background-image: url("vectors/check-fileld.png");
}

.VPN-container label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.VPN-inner-container{
    padding: 0.7em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VPN-new{
    background-color: limegreen;
    color: white;
    font-size: 0.8em;
    font-style: italic;
    font-family: "Montserrat SemiBold";
    border-radius: 2em;
    padding: 0.2em 0.7em;
    margin-bottom: 0.5em;
}

.VPN-features{
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    width: 100%;
    font-size: 0.8em;
}

.VPN-features ul{
    margin: 0;
    padding: 0;
    width: 100%;
}

.VPN-features li{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
}

.VPN-features p{
    width: 100%;
    justify-content: center;
}

.VPN-features li:nth-child(1) {
    margin: 0;
}

.VPN-features li img{
    margin: 0.2em 1em;
    height: 10px;
    width: 12px;
}

.quotes{
    margin: 4em auto;
    background-color: #eeeeee;
    border-width: 0;
    display: flex;
    justify-content: center;
}

.editors{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.editors-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    font-family: Montserrat;
}

.editors-item span{
    text-align: center;
}

.editors-item img{
    width: auto;
}

.editors-quote{
    color: #ff9f00;
}

.editors-quote::before {
    content: open-quote;
}
.editors-quote::after {
    content: close-quote;
}

footer{
    display: flex;
    align-items: center;

    overflow: hidden;
    height: 250px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: start;

    color: white;
    font-family: "Montserrat Light";
}

.footer-container span{
    font-size: 0.7em;
    color: dimgray;
}

footer ul{
    font-size: 0.7em;
    margin: 1.3em 0 0;
    padding: 0;
    list-style: none;
}

footer ul li{
    display: inline-block;
    padding-right: 5px;
    border-right: 2px solid white;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    color: red;
}

footer li:last-child{
    border-right: none;
}